.box {
  position: relative;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-radius: 15px;
}
.box::before {
  content: '';
  position: absolute;
  width: 60px;
  height: 140%;
  background: linear-gradient(var(--red), var(--red));
  animation: animate 4s linear infinite;
}

.box::after {
  content: '';
  position: absolute;
  inset: 4px;
  background: var(--background);
  border-radius: 12px;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.box h3 {
  color: var(--primary-500);
  position: relative;
  font-size: 3rem;
  z-index: 10;
}
